.footer {
    background-color: var(--default-color);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.footer__logo {
    background-image: url("../img/logo-intemediate-default.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    margin-top: 3rem;
}

.footer__copy {
    font-size: 0.875rem;
    color: var(--default-intermediate-color);
    text-align: center;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 100rem;
}

.footer__copy > span {
    font-family: var(--material-font-family);
}
