.footer {
    background-color: var(--default-color);
}

.footer__logo {
    background-image: url(../img/logo-intemediate-default.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
}
